In [6]:
import importlib

In [29]:
import create_tables

In [34]:
importlib.reload(create_tables)

In [35]:
create_tables.main()

QUERY
    CREATE TABLE IF NOT EXISTS users
    ( user_id int PRIMARY KEY,
    first_name varchar,
    last_name varchar,
    gender char,
    level varchar
    );

QUERY
    CREATE TABLE IF NOT EXISTS artists
    (
    artist_id varchar PRIMARY KEY,
    name varchar,
    location varchar,
    latitude real,
    longitude real
    );

QUERY
    CREATE TABLE IF NOT EXISTS songs
    (
    song_id varchar PRIMARY KEY,
    title varchar(200),
    artist_id varchar references artists(artist_id),
    year int,
    duration real
    );

QUERY
    CREATE TABLE IF NOT EXISTS timestamps
    (
    start_time bigint PRIMARY KEY,
    hour int,
    day int,
    weekofyear int,
    month int,
    year int,
    dayofweek int
    );

QUERY
    CREATE TABLE IF NOT EXISTS songplays
    (songplay_id BIGINT IDENTITY(0,1),
    start_time bigint references timestamps(start_time),
    user_id int references users(user_id),
    level varchar,
    song_id varchar references songs(song_id),
    artist_id varchar references artists(artist_id),
    session_id int,
    location varchar(200),
    useragent varchar(200),
    PRIMARY KEY(user_id, song_id, start_time)
    );

In [3]:
%load_ext sql

In [12]:
import configparser
import psycopg2
from sql_queries import create_table_queries, drop_table_queries

In [13]:
config = configparser.ConfigParser()
config.read('dwh.cfg')

# connect to redshift cluster and DB

In [15]:
DB_USER = config.get("CLUSTER","DB_USER")
DB_PASSWORD = config.get("CLUSTER","DB_PASSWORD")
HOST = config.get("CLUSTER","HOST")
DB_PORT = config.get("CLUSTER","DB_PORT")
DB_NAME = config.get("CLUSTER","DB_NAME")

In [16]:
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, HOST, DB_PORT, DB_NAME)

In [17]:
%sql $conn_string

'Connected: awsuser@dev'

In [18]:
%%sql 
SELECT *
FROM staging_events_table
LIMIT 10;

 * postgresql://awsuser:***@redshift-cluster-1.cofp0blphhiz.us-west-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('N.E.R.D. FEATURING MALICE', 'Logged In', None, 'M', None, None, 288.9922, 'free', 'New Orleans-Metairie, LA', 'PUT', 'NextSong', '1541033612796', None, 'Am I High (Feat. Malice)', 200, 1541121934796, None, None),
 (None, 'Logged In', None, 'F', None, None, None, 'free', 'Lubbock, TX', 'GET', 'Home', '1540708070796', None, None, 200, 1541122176796, None, None),
 ('Death Cab for Cutie', 'Logged In', None, 'F', None, None, 216.42404, 'free', 'Lubbock, TX', 'PUT', 'NextSong', '1540708070796', None, 'A Lack Of Color (Album Version)', 200, 1541122241796, None, None),
 ('Tracy Gang Pussy', 'Logged In', None, 'F', None, None, 221.33506, 'free', 'Lubbock, TX', 'PUT', 'NextSong', '1540708070796', None, 'I Have A Wish', 200, 1541122457796, None, None),
 ('Skillet', 'Logged In', None, 'M', None, None, 178.02404, 'free', 'Harrisburg-Carlisle, PA', 'PUT', 'NextSong', '1540006905796', None, 'Monster (Album Version)', 200, 1541126568796, None, None),
 ('Dance Gavin Dance', 'Logged In', None, 'F', None, None, 218.46159, 'free', 'Salinas, CA', 'PUT', 'NextSong', '1541064343796', None, 'Uneasy Hearts Weigh The Most', 200, 1541127957796, None, None),
 (None, 'Logged In', None, 'M', None, None, None, 'free', 'La Crosse-Onalaska, WI-MN', 'GET', 'Home', '1540829025796', None, None, 200, 1541129561796, None, None),
 ('Dalto', 'Logged In', None, 'M', None, None, 190.40608, 'free', 'La Crosse-Onalaska, WI-MN', 'PUT', 'NextSong', '1540829025796', None, 'Falta Te Dizer', 200, 1541129674796, None, None),
 ('Kanye West', 'Logged In', None, 'F', None, None, 278.88281, 'free', 'Chicago-Naperville-Elgin, IL-IN-WI', 'PUT', 'NextSong', '1541091973796', None, 'Family Business', 200, 1541135741796, None, None),
 ('Jason Mraz & Colbie Caillat', 'Logged In', None, 'M', None, None, 189.6224, 'free', 'Harrisburg-Carlisle, PA', 'PUT', 'NextSong', '1540006905796', None, 'Lucky (Album Version)', 200, 1541137949796, None, None)]

In [19]:
%%sql
SELECT count(*) 
FROM staging_events_table
;

 * postgresql://awsuser:***@redshift-cluster-1.cofp0blphhiz.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(8056,)]

In [22]:
%%sql
SELECT count(*) 
FROM staging_songs_table
;

 * postgresql://awsuser:***@redshift-cluster-1.cofp0blphhiz.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(14896,)]

In [21]:
%%sql
    COPY staging_songs_table
    FROM 's3://udacity-dend/song_data'
    credentials 'aws_iam_role=arn:aws:iam::349696042462:role/myRedshiftRole'
    json 'auto'
    ;

 * postgresql://awsuser:***@redshift-cluster-1.cofp0blphhiz.us-west-2.redshift.amazonaws.com:5439/dev
Done.

[]