In [1]:
%load_ext sql

In [2]:
import configparser
import psycopg2

# Connect to redshift cluster and DB

In [3]:
config = configparser.ConfigParser()
config.read('dwh.cfg')

['dwh.cfg']

In [4]:
DB_USER = config.get("CLUSTER","DB_USER")
DB_PASSWORD = config.get("CLUSTER","DB_PASSWORD")
HOST = config.get("CLUSTER","HOST")
DB_PORT = config.get("CLUSTER","DB_PORT")
DB_NAME = config.get("CLUSTER","DB_NAME")

In [5]:
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, HOST, DB_PORT, DB_NAME)

In [6]:
%sql $conn_string

'Connected: awsuser@dev'

# Number of rows per table

In [7]:
%%sql 
SELECT count(*) AS "nb songplays"
FROM staging_events_table
;

 * postgresql://awsuser:***@redshift-cluster-1.cofp0blphhiz.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(8056,)]

In [8]:
%%sql
SELECT count(*) AS "nb songs"
FROM staging_songs_table;

 * postgresql://awsuser:***@redshift-cluster-1.cofp0blphhiz.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(14896,)]

In [9]:
%sql SELECT count(*) AS "nb users" from users;

 * postgresql://awsuser:***@redshift-cluster-1.cofp0blphhiz.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(105,)]

In [10]:
%sql SELECT count(*) AS "nb artists" from artists;

 * postgresql://awsuser:***@redshift-cluster-1.cofp0blphhiz.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(10025,)]

In [11]:
%sql SELECT count(*) AS "nb timestamps" from timestamps;

 * postgresql://awsuser:***@redshift-cluster-1.cofp0blphhiz.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(8023,)]

# Example of queries

## Most popular songs

In [40]:
%%sql
SELECT sp.song_id, songs.title AS Song, artists.name AS Artist, count(sp.songplay_id) AS Nb_play
FROM songplays sp 
JOIN songs ON sp.song_id = songs.song_id
JOIN artists ON songs.artist_id = artists.artist_id
GROUP BY sp.song_id, songs.title, artists.name
ORDER BY nb_play DESC
LIMIT 10
;

 * postgresql://awsuser:***@redshift-cluster-1.cofp0blphhiz.us-west-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('SOBONKR12A58A7A7E0', "You're The One", 'Dwight Yoakam', 37),
 ('SOTTKFE12A6D4F9AFE', 'Secrets', 'Carleen Anderson', 17),
 ('SOBEUMD12AB018A9BC', 'Home', 'Frozen Plasma', 13),
 ('SOZZHYJ12A8C140F50', 'Home', 'Eli Young Band', 13),
 ('SOWIIJD12A6D4FCAF0', 'Home', 'Gemma Hayes', 13),
 ('SORKXUL12AB01821DA', 'Home', 'Working For A Nuclear Free City', 13),
 ('SOHTKMO12AB01843B0', 'Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', 'Lonnie Gordon', 9),
 ('SOUNZHU12A8AE47481', "I CAN'T GET STARTED", 'Ron Carter', 9),
 ('SOULTKQ12AB018A183', "Nothin' On You [feat. Bruno Mars] (Album Version)", 'B.o.B', 8),
 ('SONENBB12A6D4FBE9F', 'Float On', 'Rivera Rotation', 7)]

## Biggest song consumers

In [13]:
%%sql
SELECT users.user_id, users.first_name, users.last_name, count(songplays.songplay_id) AS nb_songs_listened

FROM users 
JOIN songplays ON users.user_id = songplays.user_id
GROUP BY users.user_id, users.first_name, users.last_name
ORDER BY nb_songs_listened DESC
LIMIT 20
;

 * postgresql://awsuser:***@redshift-cluster-1.cofp0blphhiz.us-west-2.redshift.amazonaws.com:5439/dev
20 rows affected.

[(80, 'Tegan', 'Levine', 147),
 (49, 'Chloe', 'Cuevas', 118),
 (97, 'Kate', 'Harrell', 84),
 (24, 'Layla', 'Griffin', 77),
 (15, 'Lily', 'Koch', 59),
 (44, 'Aleena', 'Kirby', 59),
 (29, 'Jacqueline', 'Lynch', 56),
 (73, 'Jacob', 'Klein', 53),
 (88, 'Mohammad', 'Rodriguez', 51),
 (95, 'Sara', 'Johnson', 45),
 (36, 'Matthew', 'Jones', 43),
 (16, 'Rylan', 'George', 31),
 (25, 'Jayden', 'Graves', 29),
 (30, 'Avery', 'Watkins', 28),
 (10, 'Sylvie', 'Cruz', 27),
 (85, 'Kinsley', 'Young', 24),
 (58, 'Emily', 'Benson', 23),
 (72, 'Hayden', 'Brock', 14),
 (26, 'Ryan', 'Smith', 14),
 (50, 'Ava', 'Robinson', 14)]

## Average consommation per day of week

In [14]:
%%sql
SELECT timestamps.dayofweek AS DayNum, count(songplays.songplay_id)
FROM songplays
JOIN timestamps ON timestamps.start_time = songplays.start_time
GROUP BY DayNum
ORDER BY timestamps.dayofweek ASC
;

 * postgresql://awsuser:***@redshift-cluster-1.cofp0blphhiz.us-west-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[(0, 58), (1, 207), (2, 191), (3, 250), (4, 160), (5, 188), (6, 90)]

## Percentage of songs of the database which are really listened to

In [39]:
%%sql
SELECT count(DISTINCT songplays.song_id) AS songs_listened,
        count(DISTINCT(songs.song_id)) AS total_songs,
    round(songs_listened*100./total_songs::FLOAT, 1) AS ratio_listened
FROM songplays
RIGHT JOIN songs ON songs.song_id = songplays.song_id
;

 * postgresql://awsuser:***@redshift-cluster-1.cofp0blphhiz.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(672, 14896, 4.5)]